.tieude{
    text-align: center;
    box-sizing: border-box;
    padding-left: 140px;

}
span{
    
 
    Color:rgb(7, 118, 209)
}
.hainut{
box-sizing: border-box;
text-align: center;
margin-left: 140px;


}